*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
#app{
   width: 100vw;
   height: 100vh;
   overflow-x: hidden;
}
#main{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   overflow-x: hidden;
   width: 100%;
}
#main-heading{
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 4.5vmin;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.filter-me{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 50%;
   /* background-color: aqua; */
}
.filter{
   height: 7.2vmin;
   border-radius: 10px;
   font-weight: bolder;
   padding: 10px;
   background-color: rgb(255,204,0);
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2.8vmin;
}
#search > input{
   width: 200px;
   height: 35px;
   border: 2px solid black;
   margin-right: 10px;
}
#search > #search-btn{
   width: 60px;
   height: 35px;
   background-color: rgb(255,204,0);
   font-weight: bolder;
}

@media (max-width:550px) {
   #nav-items ul{
      width: 80%;
   }
   #logo{
      height: 15vmin;
      width: 15vmin;
   }
   #nav-items a{
      font-size: 5.2vmin;
   }
}
@media (max-width:1000px) {
   #filter-section{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
   }
   #filter-section > * {
      margin: 10px;
   }
   .filter-me{
      width: 80%;
   }
   .filter{
      height: 8.5vmin;
      font-size: 3.5vmin;
      margin: 4px;
   }
}