#error{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:rgb(245, 245, 231);
   width: 100vw;
   height: 100vh;
   flex-direction: column;
}
#err-msg{
   margin-bottom: 120px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
#err-msg > *{
   margin: 10px;
   text-align: center;
   /* background-color: aqua; */
}
#err-btn{
   border-radius: 10px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
   font-size: large;
   padding: 8px;
   font-weight: bolder;
   background-color: rgb(255,204,0);
}