#header{
   height: auto;
   width:100vw;
   overflow: hidden;
}
#nav-items{
   background-color: rgb(255,204,0);
   display:flex;
   align-items: center;
   justify-content:space-between;
   width: 100%;
   /* padding-right: 20px; */
}
#nav-items > #logo{
   padding-left: 3vmin;
}
#nav-items ul{
   display: flex;
   align-items: center;
   justify-content:space-evenly;
   /* background-color: aqua; */

   width: 60%;
}
#nav-items ul li{
   list-style-type: none;
   font-size: 4.5vmin;  
}
#cart{
   /* background-color: aqua; */
   width: 10vmin;
   height: 7vmin;
}
.cartcount{
   position: relative;
   left: 55px;
   top: 4px;
}
#menu{
   display: none;
}
#nav-items a{
   text-decoration: none;
   color:black;
   font-weight: bolder;
   font-style: italic;
}
#logo{
   height: 13vmin;
   width: 13vmin;
}
nav li a:hover{
   font-size: 4.5vmin;
   transition: 0.3s;
   text-shadow: 1px 1px 1px #000;
}
@media (max-width:800px) {
   #logo{
      height: 20vmin;
      width: 20vmin;
   }
}